:root{
    --white: #fff;
    --black: #111;
    --gray: #3a3a40;

    --principal-font: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--principal-font);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1,h2,h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn{
    color: var(--gray);
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: .5rem 2rem;
    transition: background-color .4s;
}
.btn:hover{
    background-color: var(--gray);
    color: var(--white);
}

/* utilities */
.text-center{
    text-align: center;
}

.mt-5{
    margin-top: 5rem;
}


/* header */

.content-header{
    color: var(--white);
    display: flex;
    flex-direction: column;
}

@media (min-width: 960px){
    .content-header{
        justify-content: space-around;
    }
}

.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}

@media (min-width: 960px){
    .bar{
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 960px){
    .contact{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.navegation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 960px){
    .navegation{
        flex-direction: row;
    }
}

.header{
    min-height: 80rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

@media (min-width: 403px){
    .header{
        min-height: 67rem;
        padding: 0;
    }
}

@media (min-width: 960px){
    .header{
        min-height: 45rem;
    }
}
.site-name{
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px){
    .site-name{
        font-size: 5rem;
    }
}
.site-name span{
    font-weight: 900;
}



.header a{
    color: var(--white);
    font-size: 2rem;    
}

.phone{
    display: flex;
}

.phone::before{
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/telefono.png);
    width: 4rem;
    height: 4rem;
}

@media (min-width: 960px){
    .phone{
        padding-right: 2rem;
    }
}

.navegation a{
    padding: 1rem 2rem;
    transition: background-color .3s;
}

.navegation a:hover{
    background-color: rgb(255 255 255 /.5);
}

.slogan{
    text-align: center;
}

@media (min-width: 960px){
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.slogan h1{
    margin-bottom: 0;
}

.slogan p{
    margin-top: 0;
}

.link{
    max-width: 20rem;
}

/* vision */
.vision{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

@media (min-width: 768px){
    .vision{
        grid-template-columns: repeat(3,1fr);
    }
}

.vision-content{
    background-color: var(--white);
    padding: 5rem;
}

@media (min-width: 769px){
    .vision-content{
        grid-column: 2 /4;
    }
}

.vision-content h2{
    line-height: 1.1;
}

.vision-content h2,
.vision-contentp{
    margin-bottom: 1rem;
}

/* Models */

.model{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-position: bottom center;
}

@media (min-width: 760px){
    .model{
        grid-template-columns: repeat(2,1fr);
    }
}

.content-model{
    padding: 5rem;
    background-color: var(--white);
}

.model{
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

.model:last-of-type{
    margin-bottom: 0;
}

.basic{
    background-image: url(../img/modelo_basico.jpg);
    
}

@media (min-width: 768px){
    .basic{
        background-position: top right;
    }
    .basic .content-model{
        grid-row: 2/3;
        padding: 2rem 2rem 2rem 0;
    }
}

.premier{
    background-image: url(../img/modelo_premier.jpg);
}

@media (min-width: 768px){
    .premier{
        background-position: top left;
        margin-bottom: 0;
    }
    .premier .content-model{
        grid-column: 2/3;
        padding: 2rem;
    }
}

.elite{
    background-image: url(../img/modelo_elite.jpg);
}

@media (min-width: 768px){
    .elite{
        background-position: top right;
    }
}

/* Gallery */

.galery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-bottom: 5rem;
}

.galery img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform .2s;
}

.galery img:hover{
    transform: scale(.9);
}

.galery .image:nth-child(1){
    grid-row: 1/2;
}

.galery .image:nth-child(2){
    grid-row: 1/3;
}

.galery .image:nth-child(3){
    grid-row: 3/5;
    grid-column: 2/3;
}

.galery .image:nth-child(4){
    grid-row: 2/4;
    grid-column: 1/2;
}

.galery .image:nth-child(5){
    grid-row: 5/7;
    grid-column: 2/3;
}

.galery .image:nth-child(6){
    grid-row: 4/6;
    grid-column: 1/2;
}

@media (min-width: 760px){
    .galery{
        grid-template-columns: repeat(3,1fr);
    }

    .galery .image:nth-child(2){
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .galery .image:nth-child(3){
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .galery .image:nth-child(4){
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .galery .image:nth-child(5){
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .galery .image:nth-child(6){
        grid-row: 2/4;
        grid-column: 3/4;
    }
}

/* footer */

.footer{
    height: 50rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navegation .link,.phone{
    color: var(--white);
}

.copyright{
    background-color: var(--black);
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}