.dos .oferta{
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
}

.dos .precio{
    font-size: 2rem;
    margin: 0;
}

@media(min-width: 600px){
    .dos .oferta{
        max-width: 40rem;
        margin: 0 auto;
    }
}

@media (min-width: 800px) {
    .dos .oferta{
        max-width: 60rem;
    }
}